<app-header></app-header>
<section class="py-5 m-4" style="background-color: #f8f9fa;">
   <div class="d-flex gap-2">
  <input 
    type="text" 
    class="form-control w-80" 
    placeholder="Search for a movie, tv show..."
    [(ngModel)]="query"
  />
  <button class="btn btn-warning fw-semibold" type="button" (click)="SearchMovies()">Search</button>
</div>

<div class="row mt-4" *ngIf="results.length > 0">
  <div class="col-md-8">
    <h6 class="fw-bold">Search Results for "{{ query }}"</h6>
  </div>
</div>

<app-card-components [movies]="results"></app-card-components>

</section>
<app-card-components></app-card-components>