<app-header></app-header>
<section class="py-5 m-4" style="background-color: #f8f9fa;">
    <div class="container">
        <div class="row">
            <div class="d-flex gap-2">
                <input type="text" class="form-control w-80" placeholder="Search for a movie, tv show...">
                <button class="btn btn-warning fw-semibold" type="button">Search</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <h6 class="fw-bold">Search Results for "Avengers"</h6>
            </div>
        </div>
    </div>
</section>
<app-card-components></app-card-components>