
 
 

<body>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-container">
      <h3 class="mb-4">Sign up</h3>
      <form>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="name" required>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-red mb-3">Sign up</button>
    
        <div class="extra-links">
          Already have an account? <a routerLink="/login">login now.</a>
        </div>
      
      </form>
    </div>
  </div>
  <!-- Bootstrap JS -->
</body>