<nav class="navbar navbar-light bg-warning px-4">
  <a class="navbar-brand fw-bold" href="#">Movie App</a>

  <div class="d-flex align-items-center gap-3">
    <div class="dropdown">
      <a
        class="btn btn-light btn-sm dropdown-toggle fw-semibold"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ currentLang.toUpperCase() }}
      </a>
      <ul class="dropdown-menu">
        @for(lang of languages; track lang) {
        <li>
          <a class="dropdown-item" href="#" (click)="changeLanguage(lang)">{{ lang.toUpperCase() }}</a>
        </li>
        }
      </ul>
    </div>

    <a routerLink="/favorites" class="text-dark fw-semibold text-decoration-none">
      <i class="bi bi-heart-fill me-1"> {{ favCount }}</i>
    </a>

    <!-- <a class="nav-link" routerLink="/watchlist">
  Watchlist <span class="badge bg-danger ms-1">{{ (watchlistService.count$ | async) }}</span>
</a> -->
    <a routerLink="/watchList" class="text-dark fw-semibold text-decoration-none">
       Watchlist
    </a>
  </div>
</nav>



