<div class="row g-3 m-2 justify-content-center">
  @for (movie of movies; track movie.id) {
    <div class="col-lg-2 col-md-4 col-sm-6">
      <div class="movie-card">
        
        <!-- Poster -->
        <a [routerLink]="['/details', movie.id]">  
          <div class="poster-wrapper position-relative">
            <img 
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" 
              class="img-fluid rounded shadow" 
            />

            <div class="rating-circle bg-dark text-white d-flex align-items-center justify-content-center">
              {{ (movie.vote_average * 10) | number: '1.0-0' }}
            </div>
          </div>
        </a>

        <!-- Title + Icons -->
        <div class="d-flex align-items-center justify-content-between mt-3">
          <div>
            <a [routerLink]="['/details', movie.id]" class="text-decoration-none text-dark">
              <h6 class="mb-0 fw-semibold">{{ movie.title }}</h6>
            </a>
            <p class="text-muted small mb-0">{{ movie.release_date | date: 'MMM dd, yyyy' }}</p>
          </div>

          <!-- Icons -->
          <div class="d-flex flex-column gap-1 ms-2">
            <i 
              class="bi"
              [ngClass]="movie.inWatchlist ? 'bi-bookmark-fill text-warning fs-6' : 'bi-bookmark text-dark fs-6'"
              (click)="this.services.toggleWatchlist(movie, $event)">
            </i>

            <i 
              class="bi"
              [ngClass]="movie.inFav ? 'bi-heart-fill text-danger fs-6' : 'bi-heart text-dark fs-6'"
              (click)="this.services.toggleFavorite(movie, $event)">
            </i>
          </div>
        </div>

      </div>
    </div>
  }
</div>