<div class="row g-3 m-3">
    @for (movie of movies; track movie.id) {
    <div class="col-md-2 col-sm-4 col-6">
        <div class="movie-card">
            <div class="poster-wrapper position-relative">
                <img [src]="movie.poster_path" class="img-fluid rounded shadow" />
                <div class="rating-circle bg-dark text-white d-flex align-items-center justify-content-center">
                    {{ (movie.vote_average * 10) | number: '1.0-0' }}
                </div>
            </div>
            <h6 class="mt-4 mb-0 fw-semibold">{{ movie.title }}</h6>
            <p class="text-muted small mb-0">
                {{ movie.release_date | date: 'MMM dd, yyyy' }}
            </p>
        </div>
    </div>
    }
</div>